.main-content-container {

    width: 100dvw;
    height: calc(100dvh - 50px);
    padding-top: calc(50px + env(safe-area-inset-top));

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;

    @media (max-aspect-ratio: 1/1) {
        gap: 40px !important;
    }

}

form {

    display: none;

}

.display-divider {

    width: calc(100% - 10dvw);
    height: 100%;
    padding-left: 5dvw;
    padding-right: 5dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    scroll-behavior: smooth !important;

}

.card-divider {

    width: 40%;
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;

    @media (max-aspect-ratio: 1/1) {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

}

.main-content-card-container {

    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding: 20px;
    border-radius: 28px;

    background-color: light-dark(rgba(255, 255, 255, 0.8), rgba(22, 29, 35, 0.8));
    border: 1px solid light-dark(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    backdrop-filter: blur(20px);

    z-index: 100;

}

.main-content-card-title {

    font-weight: 600;
    font-size: 16px;
    margin-right: auto;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 15px;

}

.main-content-card-title:empty {

    display: none;

}

.styled-input-container {

    position: relative;
    width: calc(100% - 36px);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    outline: 1px solid gray;
    font-size: 17px;
    padding-top: 18px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: light-dark(#fff, #161d23);

    transition: outline 0.25s ease, outline-offset 0.25s ease;

}

.styled-input-container:has(input:focus) {
    outline: 2px solid rgb(0, 113, 227);
    outline-offset: -1px;
}

.styled-input-container input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: none;
    font-size: inherit;
    color: var(--text-color);
}

.styled-input-label {

    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    left: 16px;
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(110, 110, 115);

    transition: all 0.25s ease;

}

.styled-input:focus + .styled-input-label {

    font-size: 12px;
    position: absolute;
    top: -50%;

}

.styled-input:valid + .styled-input-label {

    font-size: 12px;
    position: absolute;
    top: -50%;

}

.styled-select-container {

    position: relative;
    width: calc(100% - 36px);
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    outline: 1px solid gray;
    font-size: 17px;
    padding-right: 14px;
    padding-left: 14px;
    background-color: light-dark(#fff, #161d23);

    transition: outline 0.25s ease, outline-offset 0.25s ease;

}

.styled-select-container:has(select:focus) {

    outline: 2px solid rgb(0, 113, 227);
    outline-offset: -1px;

}

.styled-select {

    appearance: none;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background: none;
    font-size: inherit;
    color: var(--text-color);
    padding-top: 18px;

}

.styled-select-label {

    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    left: 16px;
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(110, 110, 115);
    pointer-events: none;

    transition: all 0.25s ease;

}

.styled-select:valid + .styled-select-label {

    font-size: 12px;
    position: absolute;
    top: -50%;

}

.styled-button-container {

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.styled-button {

    width: 100%;
    outline: none;
    border: none;
    padding-inline: 25px;
    padding-block: 15px;
    background-color: #0071e3;
    color: #E8E8ED;
    text-decoration: none;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, .15);

    border-radius: 50px;

    z-index: 100;

    transition: background-color 0.25s ease;

    font-size: 14px;

}

.styled-button:hover {

    background-color: #007cf7;
    cursor: pointer;

}

.bottom-padding {

    width: 100%;
    min-height: 10px;

}

.styled-input-container:has(.styled-text-area:focus) {

    outline: 2px solid rgb(0, 113, 227);
    outline-offset: -1px;

}

.styled-input-container:has(.styled-text-area) {

    height: auto;
    min-height: 30px;

}

.styled-text-area {

    width: 100%;
    height: auto;
    outline: none;
    border: none;
    background: none;
    font-size: inherit;
    color: var(--text-color);
    padding-top: 5px;
    padding-bottom: 5px;

}

.styled-textarea-label {

    position: absolute;
    left: 16px;
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(110, 110, 115);
    font-size: 12px;
    top: 5px;

}

.styled-summary-container {

    position: relative;
    width: calc(100% - 36px);
    min-height: 30px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    outline: 1px solid gray;
    font-size: 17px;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: light-dark(#fff, #161d23);
    gap: 10px;
    flex-wrap: wrap;

}

.styled-summary-container-elements {

    position: relative;
    width: calc(100% - 36px);
    min-height: 30px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    outline: 1px solid gray;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: light-dark(#fff, #161d23);
    gap: 10px;
    flex-wrap: wrap;

}

.styled-summary-container-elements p {
    margin: 0;
}

.summary-checkbox-container:nth-child(n+1):nth-child(-n+11) {

    color: #e74c3c;

}

.summary-checkbox-container:nth-child(n+12):nth-child(-n+18) {

    color: #2980b9;

}


.summary-checkbox-container {

    display: flex;
    align-items: center;
    gap: 5px;

}

.response-iframe {

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    margin: auto;
    outline: none;
    appearance: none;
    border: none;
    z-index: 10000;
    pointer-events: none;
    background-color: transparent;

}

.active {

    pointer-events: all !important;

}