.main-iframe-container {

    width: 100dvw;
    height: calc(100dvh);

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;

    @media (max-aspect-ratio: 1/1) {
        gap: 40px !important;
    }

}

.styled-button {

    width: auto;
    outline: none;
    border: none;
    padding-inline: 25px;
    padding-block: 15px;
    background-color: #0071e3;
    color: #E8E8ED;
    text-decoration: none;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, .15);

    border-radius: 50px;

    z-index: 100;

    transition: background-color 0.25s ease;

    font-size: 14px;

}

.styled-button:hover {

    background-color: #007cf7;
    cursor: pointer;

}

.loading-bar {

    width: 300px;
    height: 10px;
    background: #d0d0d0;
    overflow: hidden;
    border-radius: 5px;
    position: relative;

}

.inner-loading-bar {

    width: 100px;
    height: 100%;
    background: linear-gradient(90deg, #4a90e2, #007aff);
    position: absolute;
    left: -100px;
    animation: loading-animation 1.5s infinite linear;

}

@keyframes loading-animation {

    0% { left: -100px; }
    100% { left: 300px; }

}